/*Responsive Code Mobile first, means the default css styling  are for the small device*/
/*Global style*/
body, html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #464F56;
}
h1, h2, h3, h4, h5 { font-weight: 700}
a:hover, a:active {text-decoration: none}
a:hover {color: #19283F}
.txt-enhance {color: #289B66}

/*Global Button Style*/
.button {
	font-weight: bold;
	color: #FFF;
    line-height: 1.33333;
    padding: 9px 16px;
    margin-right: 8px
}
.button-primary {
	background-color: #48CFAD;
	border-bottom: 6px solid #3DC2A1;
}
.button-twitter {
	background-color: #21a9e0;
	border-bottom: 6px solid #129ec9;
}
.button-blog {
	background-color: #ff9650;
	border-bottom: 6px solid #E5834F;
}
.button-github {
	background-color: #C1BEBD;
	border-bottom: 6px solid #AFACAA;
}
.button.active, .button.focus, .button:active, .button:focus, .button:hover {
	background-color: #48CFAD;
	border-bottom: 6px solid #369B82;
	text-decoration: none;
	color: #205D4E;
}

/*---------- Navigation Style -------------*/
.fa-diamond {
	color: #656D78;
	text-shadow: 1px -1px 1px rgba(150, 150, 150, 0.87);
}
nav { padding-bottom: 10px}

.fix-menu{
	width: 90%;
	margin: auto;
}
.navbar-default{
	background-color: transparent;
	border-color: rgba(255, 255, 255, 0.2);
}
.navbar-default .navbar-nav>li>a{
	color: #261B23;
	font-weight: 600;
}
.navbar-default .navbar-nav>.active>a {
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.navbar-default .navbar-nav > li > a:hover{
	-webkit-box-shadow:inset 0px 0px 0px 1px #ddd;
    -moz-box-shadow:inset 0px 0px 0px 1px #ddd;
    box-shadow:inset 0px 0px 0px 1px #ddd;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.navbar-alt.navbar-default {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: #e8e9ed;
    border-left-color: #e8e9ed;
    border-right-color: #e8e9ed;
    border-top-color: #e8e9ed;
}
.header-container{
	margin: auto;
	width: 100%;
}
.navbar-collapse.collapse{margin-top: 1.5em;}

/*-------------- Image Parallax and it's components Style -------------*/
.home { 
	height: 500px; 
	margin: 0 auto; 
	width: 100%; 
	color: #FFF;
	position: relative;
	padding-top: 90px;
}
.introduce div {
	height: 230px;
	margin-top: 20%;
	display: inline-table;
}
.iner-intro {
	width: 100%;
	height: auto;
	padding: 24px 28px 28px 28px;
	background-color: rgba(0, 0,0, 0.4);
}
.iner-intro h2 {
	font-size: 2.3em;
	text-transform: uppercase;
}
.iner-intro h3 { 
	font-size: 2em; 
	line-height: .8em
}
.iner_intro p { 
	letter-spacing: 0.1px;
	font-weight: lighter;
	font-size: 1.4em;
}
/*Hide image in the small device*/
.intro-img {display: none !important;}
.intro-img img { margin-top: 50px;}

@media(min-width:500px) {
	.iner-intro {width: 405px}
}
@media(min-width:585px) {
	.home {height: 30% }
	.intro-img {
		display: inline-table !important;
		background: white;
		width: 180px;
	}
}

/*------------------- About me style ---------------------*/
.lineStright {
	height: 15px;
	background:  #3DC299;
	margin: 0;
	padding: 0;
}
.aboutme{
	padding-top: 3em;
	padding-bottom: 4em;
}
.aboutme p{
	width: 90%;
	color: #656C72;
	line-height: 30px;
	margin-bottom: 30px;
}
.aboutPIC { cursor: default }

.skill {
	padding: 2em 0 3em 0;
}
.css, .jva {
	width: 10%;
	transition: 2s ease;
}
.css-animate{width: 80%}
.jva-animate{width: 90%}
/*--------------------- Works Style --------------------*/
.works{
	height: auto;
	background-color: #656D78;
	padding-top: 3em;
	padding-bottom: 4em;
}
.works-top { padding-bottom: 4em}
.btn , .btn-default {
	background-color: transparent;
	border-color: #434A54;
	color: #434A54;
	font-weight: 100;
	font-size: .8em;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover {
	background-color: #434A54;
	border-color: #434A54;
	text-decoration: none;
	color: #FFF;
	box-shadow: none;
}
.works-img {
	width: auto;
	height: 200px;
}
.works-img img { width: 100% }

ul, .col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {         
    padding:0 0 0 0;
    margin:0 0 0 0;
 }
ul li, .col-lg-3, .col-md-4, .col-sm-6, .col-xs-12 {list-style:none}
@media(min-width:350px) {
	.btn , .btn-default { font-size: 121% }
}

/*--------------------- Availabe for Purchase Style --------------------*/
.purchase{
	width: 100%;
	height: auto;
	padding-bottom: 4em;
	padding-top: 3em;
}
.row-centered { text-align:center}
.purchase .col-md-12 > p {
	width: 70%;
	margin: 0 auto;
	font-weight: 100;
}
.col-centered {
    display:inline-block;
    float:none;
}
.col-fixed {
    /* custom width */
    width: 318px;
}
.item {
    width:100%;
    height:100%;
}
/* content styles */
.item {
	display:table;
	height: 450px;
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.works-inside{
	 /* reset the text-align */
	text-align:left;
	background-color: #fff;
	width: 300px;
	margin-top: 2em;
}
.works-inside img{
	width: 300px;
	height: auto;
}
.img-thumbnail {
	-webkit-box-shadow: 0px 0px 3px -2px rgba(5,7,8,1);
	-moz-box-shadow: 0px 0px 3px -2px rgba(5,7,8,1);
	box-shadow: 0px 0px 3px -2px rgba(5,7,8,1);
}
.works-inside h3{
	padding-left: 10px;
	padding-bottom: 0;
	margin-bottom: -5px;
	margin-top: 10px;
}
.works-inside p{
	padding: 10px;
	color: #838383;
}

/*--------------------- Testimonial Style --------------------*/

.carousel-control.left,.carousel-control.right  {background:none;width:25px; color: #646a76; box-shadow: none;}
.carousel-control.left, .carousel-control.right  {top:20%; color: #46474a; font-size: 10em; }

.broun-block {
    background: #fff;
    padding-bottom: 40px;
    padding-top: 50px;
    border-top: 5px solid #3DC299;
}
.carousel {padding-bottom: 40px}

.block-text {
    color: #fff;
	margin: 0;
    padding: 60px 20px 40px 20px;
}
.block-text:after {
    top: 98%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 25px;
	margin-left: -20px;
}
.first-testi {background: #4a88dd; height: auto;}
.second-testi {background:#48cfae; height: auto;}
.first-testi:after {border-top-color: #4a88dd}
.second-testi:after {border-top-color: #48CFAE}

.block-text a {
 	color: #fff;
    line-height: 18px;
    text-decoration: none;
    padding-bottom: 12px;
    text-transform: uppercase;
}
.mark {padding: 12px 0;background:none}

.block-text p {
    color: #fff;
    line-height: 25px;
    font-weight: 100;
}
.zmin {z-index: 1}

.person-text {
    padding: 30px 0 0;
    text-align: center;
    z-index: 2;
}
.person-text a {
    color: #ffcc00;
    display: block;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {color: #fff}
.rel {position: relative}
img.white-space { margin-right: 18.24px}
img.adjust {margin-left: 8px}
.fa-chevron-left, .fa-chevron-right {font-size: 32px}

/*-------------- Contact Style------------------- */
.contact-white {
	text-align: center;
	height:100%; 
	background:#fff;
	padding-top: 80px;
	padding-bottom: 80px
}
.contact-white h1{
	color: #414a53;
	margin-bottom: 16px;
}
/*style for button in the global style upper*/
.contact-parallax { height: 520px }
.contact-container{
	position: relative;
	bottom: -100px;
	color: #FFF;
	width: 100%;
	height: auto;
	padding: 5px 28px 28px 28px;
	margin: 0 auto;
	background-color: rgba(0, 0,0, 0.4);
}
.contact-container h2{ padding-bottom: 0.5em }

label {
	font-size: 1.4em;
	font-weight: 500;
}
.contact-container input{
	width: 100%;
	padding: 10px;
	background-color: rgba(0, 0,0, 0.4);
	border:none;
}
.contact-container textarea{
	width: 100%;
	height: 105px;
	padding: 10px;
	background-color: rgba(0, 0,0, 0.4);
	border:none;
	margin-bottom: 20px;
}
.contact-container button {
	border-left: none;
	border-right: none;
	border-top: none;
	margin-top: -10px;
	margin-bottom: -10px;
	font-size: 100%;
}
.tombol2 {
	background-color: #fff;
	font-weight: bold;
	color: #42474d;
	border-bottom: 6px solid #6e6e6e;
    line-height: 1.33333;
    padding: 9px 16px;
}

@media(min-width:550px) {
	.contact-container { width: 80% }
	.contact-container textarea{ height: 140px;}
}

@media(min-width:992px) {
	.contact-white {
		text-align: left;
		padding-left: 4em;
		padding-top: 8em;
	}
}

/*----------------Footer style------------------------*/
footer {
	text-align: center;
	height: 100px;
	padding-top: 40px;
	background: #19283F;
}


@media(min-width:750px) {
	.block-text {
		border-radius: 100%;
	    padding-top: 90px;
	    padding-right: 50px;
	    padding-left: 30px;
	}
	/* Customize position for each bubble testimonial */
	.first-posi {position: absolute; top: -1px; left: 14%;}
	.second-posi {position: absolute; top: 2px; right: 3%;}
	.first-testi {width: 280px; height: 280px;}
	.second-testi {width: 300px; height: 300px;}

	.block-text a {
	    font-weight: 700;
	    line-height: 28px;
	}
	.block-text p { font-weight: 100 }
	.person-text { margin-left: -4em }
	.rel { position: relative}
}

@media(min-width:992px) {
	/* Customize position for each bubble testimonial */
	.first-posi {position: absolute; top: -1px; left: 23%;}
	.second-posi {position: absolute; top: 2px; right: 18%;}
}

@media(min-width:1200px) {
	/* Customize position for each bubble testimonial */
	.first-posi {position: absolute; top: -1px; left: 25%;}
	.second-posi {position: absolute; top: 2px; right: 20%;}
}