/* Custom CSS for Luthfi Portofolio */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
nav {
	padding-bottom: 10px;
}

.fix-menu{
	width: 90%;
	margin: auto;
}

.navbar-default{
	background-color: transparent;
	border-color: rgba(255, 255, 255, 0.2);
}

.navbar-default .navbar-nav>li>a{
	color: #261B23;
	font-weight: 700;
	font-size: 14px;
}

.navbar-default .navbar-nav>.active>a {
	-webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

}

.navbar-default .navbar-nav > li > a:hover{
	-webkit-box-shadow:inset 0px 0px 0px 1px #ddd;
    -moz-box-shadow:inset 0px 0px 0px 1px #ddd;
    box-shadow:inset 0px 0px 0px 1px #ddd;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.header-container{
	margin: auto;
	width: 100%;
}

.home { 
	
	height: 760px;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	color: #fff;
	padding-top: 20%;
	padding-bottom: 30%;
}


.perkenalan{
	width: 620px;
	height: auto;
	padding: 0px 28px 28px 28px;
	margin: 0 auto;
	background-color: rgba(0, 0,0, 0.4);
	text-align: center;
}
.bulet {
	background: #47C3A1 none repeat scroll 0 0;
    border-radius: 100%;
    color: #ffffff;
    cursor: default;
    display: inline-block;
    height: 2.20em;
    line-height: 2.35em;
    text-align: center;
    width: 2.20em;
	position: relative;
	top: -70px;
}
.iner_hero{
	margin-top: -50px;
}
.iner_hero h2{
	font-weight: 700; 
	font-size: 36px;
	text-transform: uppercase;
}
.iner_hero p{
	font-size: 24px;
	letter-spacing: 0.1px;
	font-weight: 200;
}


.logo-small{
	margin-top: 1em;
}

.navbar-collapse.collapse{
	margin-top: 1.5em;
}

.section-title{
	padding-top: 2em;
}

.section-title h2{
	font-size: 26px;
	font-weight: 800;
}
.aboutme{
	padding-bottom: 5em;
	color: #464F56;
}
	

.aboutme p{
	width: 90%;
	color: #656C72;
	line-height: 30px;
}


.works{
	width: 100%;
	height: auto;
	background-color: #656D78;
	padding-bottom: 4em;
}
.purchase{
	width: 100%;
	height: auto;
	padding-bottom: 4em;
}
.section-title {
	text-transform: uppercase;
}

.tombol {
	background-color: #48CFAD;
	font-weight: bold;
	color: #FFF;
	border-bottom: 6px solid #3DC2A1;
	font-size: 18px;
    line-height: 1.33333;
    padding: 9px 16px;
}
.tombol.active, .tombol.focus, .tombol:active, .tombol:focus, .tombol:hover {
	background-color: #48CFAD;
	border-bottom: 6px solid #369B82;
	text-decoration: none;
	color: #205D4E;
}


.tombol2 {
	background-color: #fff;
	font-weight: bold;
	color: #42474d;
	border-bottom: 6px solid #6e6e6e;
	font-size: 18px;
    line-height: 1.33333;
    padding: 9px 16px;
}
.tombol.active, .tombol.focus, .tombol:active, .tombol:focus, .tombol:hover {
	background-color: #48CFAD;
	border-bottom: 6px solid #369B82;
	text-decoration: none;
	color: #205D4E;
}


/* Works Starting here */
.btn , .btn-default {
	background-color: transparent;
	border-color: #434A54;
	color: #434A54;
	font-size: 28px;
	font-weight: 100;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover {
	background-color: #434A54;
	border-color: #434A54;
	text-decoration: none;
	color: #FFF;
	box-shadow: none;
}
.work-img {
	margin-top: 200px;
	width: 80%;
}
.row .work-img figure {
    margin: 0;
    overflow: hidden;
	float: left;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.item {
    width:100%;
    height:100%;
}
/* content styles */
.item {
	display:table;
	height: 450px;
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.works-inside{
	 /* reset the text-align */
	text-align:left;
	background-color: #fff;
	width: 300px;
	margin-top: 4em;
}


.works-inside img{
	width: 300px;
	height: auto;
}

.works-inside h3{
	padding-left: 10px;
	padding-bottom: 0;
	margin-bottom: -5px;
	margin-top: 10px;
	font-size: 20px;
}


.works-inside p{
	padding: 10px;
	font-size: 14px;
	color: #838383;

}

/* THIS IS SLIDER FOR TESTIMONIAL SECTION */

.carousel-control.left,.carousel-control.right  {background:none;width:25px; color: #646a76; box-shadow: none;}
.carousel-control.left, .carousel-control.right  {top:20%; color: #46474a; font-size: 10em; }

.broun-block {
    background: #fff;
    padding-bottom: 40px;
    padding-top: 50px;
    border-top:3px solid #424b52;
}
.carousel {
	padding-bottom: 40px;
}

.block-text {
    color: #fff;
    font-size: 14px;
	border-radius: 100%;
    padding-top: 90px;
    padding-right: 30px;
    padding-left: 30px;
}
.block-text:after {
    top: 98%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 25px;
	margin-left: -20px;
}
/* Customize position for each bubble testimonial */
.first-posi {position: absolute; top: -1px; left: 27%;}
.second-posi {position: absolute; top: 2px; right: 20%;}

.first-testi {background: #4a88dd; width: 280px; height: 280px;}
.second-testi {background:#48cfae; width: 300px; height: 300px;}

.first-testi:after {border-top-color: #4a88dd}
.second-testi:after {border-top-color: #48CFAE}


.block-text a {
 	color: #fff;
    font-size: 36px;
    line-height: 20px;
    text-decoration: none;
    padding-bottom: 12px;
    text-transform: uppercase;
}
.mark {
    padding: 12px 0;background:none;
}
.block-text p {
    color: #fff;
    line-height: 25px;
    font-weight: 100;
    font-size: 22px;
}

.zmin {
    z-index: 1;
}

.person-text {
    padding: 30px 0 0;
    text-align: center;
    z-index: 2;
    margin-left: -4em
}
.person-text a {
    color: #ffcc00;
    display: block;
    font-size: 14px;
    margin-top: 3px;
    text-decoration: underline;
}
.person-text i {
    color: #fff;
    font-family: Georgia;
    font-size: 13px;
}
.rel {
    position: relative;
}
img.white-space {
	margin-right: 18.24px;
}
img.adjust {
	margin-left: 8px;
}
.fa-chevron-left, .fa-chevron-right {
	font-size: 32px;
}

.footer{	
	height: 100px;  
	margin: 0 auto; 
	width: 100%; 
	position: relative; 
	color: #fff;
	padding-bottom: 42%;
	margin-top: 2%;
	overflow:none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.contact-container{
	width: 500px;
	height: auto;
	padding: 5px 28px 28px 28px;
	margin: 0 auto;
	background-color: rgba(0, 0,0, 0.4);
	-webkit-border-radius:5px;
}

.contact-container h4{
	padding: 0;
	margin-bottom: -10px;
}

.contact-container h2{
	padding-bottom: 0.1em;
}

.contact-container input{
	width: 100%;
	padding: 10px;
	background-color: rgba(0, 0,0, 0.4);
	-webkit-border-radius:5px;
	border:none;
}

.contact-container textarea{
	width: 445px;
	height: 180px;
	padding: 10px;
	background-color: rgba(0, 0,0, 0.4);
	-webkit-border-radius:5px;
	border:none;
	margin-bottom: 20px;
}

.social{
	width: 500px;
	padding-top: 15%;
	margin: auto;
}

.social h1{
	color: #414a53;
	font-weight: 600;
}

.tombol-twitter {
	background-color: #5e9bd1;
	font-weight: bold;
	color: #FFF;
	border-bottom: 6px solid #46739a;
	font-size: 18px;
    line-height: 1.33333;
    padding: 9px 16px;
}

.tombol-blog {
	background-color: #ea8439;
	font-weight: bold;
	color: #FFF;
	border-bottom: 6px solid #ae632c;
	font-size: 18px;
    line-height: 1.33333;
    padding: 9px 16px;
    margin-left: 10px;
}

.tombol-github {
	background-color: #9ca4af;
	font-weight: bold;
	color: #FFF;
	border-bottom: 6px solid #777a81;
	font-size: 18px;
    line-height: 1.33333;
    padding: 9px 16px;
    margin-left: 10px;
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
